.navBarContainer {
    background-color: black;
    padding: 10px 20px;
    width:100%;
}
.navBarContainer ul{
    display: flex;
    justify-content: center;
}
.navbar li{
    color: white;
    list-style-type: none;
    margin: 0px 50px;
    cursor: pointer;
}
.navbar li:hover {
    text-decoration: underline;
}